{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Nucleo/css/style.css' %}">
    <title>Ls Antenas</title>
</head>
<body>
    <div id="contrato30" class="contrato">
        <div class="contrato-conteudo">
            <div><span class="contrato-fechar" onclick="fecharContrato30()">&times;</span></div>
            <div class="contrato-header">
                <span>Flex 30</span>
            </div>
            <div class="contrato-area">
                <span>
                    Plano indicado para quem quer alem de navegar, gosta de escutar musica pela internet.
                    Ideal para pessoas que acordam cedo e não passam o dia em casa. Pacotes de dados de 
                    30 Gigas e bonûs de 140 Gigas para usar das 00h as 09h, inclusive aos finais de semana.
                </span>
            </div>
            <div class="contrato-info">
                <div class="contrato-info-detalhes">
                    <span>Pacotes de Dados</span>
                    <span>Bonus 0h as 09h</span>
                    <span>Velocidade de downloads</span>
                    <span>Velocidade de uploads</span>
                </div>
                <div class="contrato-info-detalhes2">
                    <span>30</span>
                    <span>140</span>
                    <span>15</span>
                    <span>2</span>                
                </div>
                <div class="contrato-info-detalhes3">
                    <span>Giga</span>
                    <span>Giga</span>
                    <span>Mega</span>
                    <span>Mega</span>                   
                </div>
            </div>
            <div class="contrato-preco">
                <div class="contrato-preco-valor">
                    R$ 189,00
                </div>
            </div>        
            <div class="contrato-botao">
                <a class="contrato-botao-button" href="https://wa.me/558393822823?text=Oi%2C%20estou%20interessado%20no%20plano%20Flex%2020" target="_blank"><button>Whatsapp Aberto</button></a>
            </div>
        </div>
    </div>
    <div id="contrato50" class="contrato">
        <div class="contrato-conteudo">
            <div><span class="contrato-fechar" onclick="fecharContrato50()">&times;</span></div>
            <div class="contrato-header">
                <span>Flex 50</span>
            </div>
            <div class="contrato-area">
                <span>
                    Plano indicado para quem quer alem de navegar, gosta de escutar musica pela internet.
                    Ideal para pessoas que acordam cedo e não passam o dia em casa. Pacotes de dados de 
                    30 Gigas e bonûs de 140 Gigas para usar das 00h as 09h, inclusive aos finais de semana.
                </span>
            </div>
            <div class="contrato-info">
                <div class="contrato-info-detalhes">
                    <span>Pacotes de Dados</span>
                    <span>Bonus 0h as 09h</span>
                    <span>Velocidade de downloads</span>
                    <span>Velocidade de uploads</span>
                </div>
                <div class="contrato-info-detalhes2">
                    <span>50</span>
                    <span>160</span>
                    <span>15</span>
                    <span>2</span>                
                </div>
                <div class="contrato-info-detalhes3">
                    <span>Giga</span>
                    <span>Giga</span>
                    <span>Mega</span>
                    <span>Mega</span>                   
                </div>
            </div>
            <div class="contrato-preco">
                <div class="contrato-preco-valor">
                    R$ 149,00
                </div>
            </div>        
            <div class="contrato-botao">
                <a class="contrato-botao-button" href="https://wa.me/558393822823?text=Oi%2C%20estou%20interessado%20no%20plano%20Flex%2050" target="_blank"><button>Whatsapp Aberto</button></a>
            </div>
        </div>
    </div>
    <div id="contrato100" class="contrato">
        <div class="contrato-conteudo">
            <div><span class="contrato-fechar" onclick="fecharContrato100()">&times;</span></div>
            <div class="contrato-header">
                <span>Flex 100</span>
            </div>
            <div class="contrato-area">
                <span>
                    Plano indicado para quem quer alem de navegar, gosta de escutar musica pela internet.
                    Ideal para pessoas que acordam cedo e não passam o dia em casa. Pacotes de dados de 
                    100 Gigas e bonûs de 140 Gigas para usar das 00h as 09h, inclusive aos finais de semana.
                </span>
            </div>
            <div class="contrato-info">
                <div class="contrato-info-detalhes">
                    <span>Pacotes de Dados</span>
                    <span>Bonus 0h as 09h</span>
                    <span>Velocidade de downloads</span>
                    <span>Velocidade de uploads</span>
                </div>
                <div class="contrato-info-detalhes2">
                    <span>100</span>
                    <span>200</span>
                    <span>20</span>
                    <span>3</span>                
                </div>
                <div class="contrato-info-detalhes3">
                    <span>Giga</span>
                    <span>Giga</span>
                    <span>Mega</span>
                    <span>Mega</span>                   
                </div>
            </div>
            <div class="contrato-preco">
                <div class="contrato-preco-valor">
                    R$ 179,00
                </div>
            </div>        
            <div class="contrato-botao">
                <a class="contrato-botao-button" href="https://wa.me/558393822823?text=Oi%2C%20estou%20interessado%20no%20plano%20Flex%20100" target="_blank"><button>Whatsapp Aberto</button></a>
            </div>
        </div>
    </div>






    <div class="container gradiente-prim">
        <div class="header">
            <img class="header-logo" src="{% static 'Nucleo/img/logoLsAntenas.png' %}" alt="Logo">
            <div>
                <div class="header-phone">
                    <div>
                        <img class="header-img" src="{% static 'Nucleo/img/telefone.png' %}" alt="telefone">
                    </div>
                    <div>
                        <span>Ligue agora</span>
                        <a href="https://wa.me/558393822823" target="_blank"><span class="header-numero">83 9382-2823</span></a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <img class="welcome-banner" src="{% static '/Nucleo/img/Banner_Parceiros_Generico.png' %}" alt="welcome-banner">
    </div>
    <div class="marca">
        <div class="marca-info">
            <div class="titulo"><img src="{% static 'Nucleo/img/logoLsAntenas.png' %}" alt=""></div>
            <div class="sub-titulo"><span class="sub-titulo">Vai até onde a competição não pode</span></div>
        </div>
        <div class="marca-div-img">
            <img class="antena-img" src="{% static 'Nucleo/img/banner-cortado.png' %}" alt="">
        </div>
    </div>
    <div class="container">
        <div class="info">
            <span>
                As antenas de internet via satélite permitem acesso à internet em locais onde
                outras tecnologias não chegam, conectando usuários a satélites que se comunicam
                com a rede global.
            </span>
        </div>
        <div class="pesquisar">
            <div class="pesquisar-cidade">
                <input id="pesquisa" type="text" class="pesquisar-cidade-input" placeholder="Pesquisar sua cidade...">
                <img src="{% static 'Nucleo/img/pesquisar.png' %}" 
                alt="Pesquisar" class="pesquisar-img" onclick="Pesquisar()">
            </div>
        </div>
    </div>
    <div class="container">

            <div class="planos">
                <div class="plano">
                    <div class="header-plano"><span>Flex 30</span></div>
                    <div class="preco">
                        <span>189,00</span>
                    </div>
                    <div class="detalhes">
                        <span>Valor promocional durante os primeiros 6 meses, e apos,
                             189,00 pagamento no cartão ou débitoem conta(G2).</span>
                    </div>
                    <div class="plano-info">
                        <div>
                            <span class="plano-tipo">Franquia</span>
                            <span class="plano-giga">30 Gigas</span>
                        </div>
                        <div class="barra">

                        </div>
                        <div>
                            <span class="plano-tipo">Bonus das 0h as 9h</span>
                            <span class="plano-giga">140 Gigas</span>
                        </div>
                    </div>
                    <div class="detalhes">
                        <span>
                            Valor em Cartão de Crédito ou Débito em Conta:
                             R$ 169,00/mês 
                             Valor em Boleto: R$ 199,00/mês, 
                            Contrato de 12 meses. 
                            Adesão: R$ 149,00 via boleto ou R$ 129,00 via cartão.
                        </span>
                    </div>
                    <div class="botao">
                        <button onclick="mostrarContrato30()">
                            Compre Agora
                        </button>
                    </div>
                </div>
                <div class="plano">
                    <div class="header-plano"><span>Flex 50</span></div>
                    <div class="preco">
                        <span>149,00</span>
                    </div>
                    <div class="detalhes">
                        <span>Valor promocional durante os primeiros 6 meses, e apos, 189,00 pagamento no cartão ou débitoem conta(G2).</span>
                    </div>
                    <div class="plano-info">
                        <div>
                            <span class="plano-tipo">Franquia</span>
                            <span class="plano-giga">50 Gigas</span>
                        </div>
                        <div class="barra">

                        </div>
                        <div>
                            <span class="plano-tipo">Bonus das 0h as 9h</span>
                            <span class="plano-giga">160 Gigas</span>
                        </div>
                    </div>
                    <div class="detalhes">
                        <span>
                            Valor em Cartão de Crédito ou Débito em Conta: R$ 149,00/mês
                             por 6 meses. Após: R$ 179,00/mês. Valor em Boleto: 
                             R$ 179,00/mês por 6 meses. Após: 209,00/mês. Contrato de 12 meses. 
                             Adesão: R$ 149,00 via boleto ou R$ 129,00 via cartão.
                        </span>
                    </div>
                    <div class="botao" onclick="mostrarContrato50()">
                        <button>
                            Compre Agora
                        </button>
                    </div>
                </div>
                <div class="plano">
                    <div class="header-plano"><span>Flex 100</span></div>
                    <div class="preco">
                        <span>179,00</span>
                    </div>
                    <div class="detalhes">
                        <span>Valor promocional durante os primeiros 6 meses, e apos, 189,00 pagamento no cartão ou débitoem conta(G2).</span>
                    </div>
                    <div class="plano-info">
                        <div>
                            <span class="plano-tipo">Franquia</span>
                            <span class="plano-giga">100 Gigas</span>
                        </div>
                        <div class="barra">

                        </div>
                        <div>
                            <span class="plano-tipo">Bonus das 0h as 9h</span>
                            <span class="plano-giga">200 Gigas</span>
                        </div>
                    </div>
                    <div class="detalhes">
                        <span>
                            Valor em Cartão de Crédito ou Débito em Conta: 
                            R$ 204,00/mês por 6 meses. Após: R$ 234,00/mês. 
                            Valor em Boleto: R$ 234,00/mês por 6 meses. Após: 264,00/mês. 
                            Contrato de 12 meses. Adesão: R$ 149,00 via boleto ou R$ 129,00 via cartão.
                        </span>
                    </div>
                    <div class="botao">
                        <button onclick="mostrarContrato100()">
                            Compre Agora
                        </button>
                    </div>
                </div>
            </div>
    </div>
    <div class="container">
        <div class="vantagens-container">
            <div class="vantagens-titulo">
                <span>Vantagens da instalação de satelites de internet</span>
            </div>
            <div class="vantagens">
                <div class="vantagem">
                    <div class="vantagem-img">
                        <img src="{% static 'Nucleo/img/manutencao.png' %}" alt="Ferramenta">
                    </div>
                    <div class="vantagem-titulo">
                        <span>Instalação facil</span>
                    </div>
                    <div class="vantagem-detalhes">
                        <span>O tecnico vai até você para a instalação da internet.</span>
                    </div>
                </div>
                <div class="vantagem">
                    <div class="vantagem-img">
                        <img src="{% static 'Nucleo/img/rede.png' %}" alt="Ferramenta">
                    </div>
                    <div class="vantagem-titulo">
                        <span>Pague só pelo que usa</span>
                    </div>
                    <div class="vantagem-detalhes">
                        <span>Com planos diferentes, escolha apenas aqueles que você precisa.</span>
                    </div>
                </div>
                <div class="vantagem">
                    <div class="vantagem-img">
                        <img src="{% static 'Nucleo/img/satelite.png' %}" alt="Ferramenta">
                    </div>
                    <div class="vantagem-titulo">
                        <span>Sem necessidade de fios ou torres</span>
                    </div>
                    <div class="vantagem-detalhes">
                        <span>Tudo fornecido por satélites. De com alta qualidade por gigas, não por megas</span>
                    </div>
                </div>
                <div class="vantagem">
                    <div class="vantagem-img">
                        <img src="{% static 'Nucleo/img/sitio.png' %}" alt="Ferramenta">
                    </div>
                    <div class="vantagem-titulo">
                        <span>Perfeito para Areas Rurais</span>
                    </div>
                    <div class="vantagem-detalhes">
                        <span>Sem fios, sem torres, facil e confortável.</span>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="footer-div">
                <img class="footer-logo" src="{% static 'Nucleo/img/logoLsAntenas.png' %}" alt="Ls Antenas">
            </div>
            <div class="footer-div">
                <a href="https://gabrielgreapy.github.io/" target="_blank">
                    
                </a>
            </div>
            <div class="footer-redes">
                <a href="https://wa.me/558393822823" target="_blank"><img src="{% static 'Nucleo/img/whatsapp.png' %}" class="footer-whatsapp" alt="whatsapp"></a>
                <a href="https://www.instagram.com/hughesnetpicui/" target="_blank"><img src="{% static 'Nucleo/img/instagram.png' %}" class="footer-instagram" alt="Instagram"></a>
                <a href="https://www.facebook.com/profile.php?id=61574416708337" target="_blank"><img src="{% static 'Nucleo/img/facebook.png' %}" class="footer-facebook" alt="Facebook"></a>
            </div>
        </div>
    </footer>
    
    <script src="{% static 'Nucleo/js/script.js' %}"></script>
</body>
</html>