{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Nucleo/css/style.css' %}">
    <title>Ls Antenas</title>
</head>
<body>
    <div class="container gradiente-prim">
        <div class="header">
            <img class="header-logo" src="{% static 'Nucleo/img/logoLsAntenas.png' %}" alt="Logo">
            <div>
                <div class="header-phone">
                    <div>
                        <img class="header-img" src="{% static 'Nucleo/img/telefone.png' %}" alt="telefone">
                    </div>
                    <div>
                        <span>Ligue agora</span>
                        <a href=""><span class="header-numero">83 9382-2823</span></a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <img class="welcome-banner" src="{% static '/Nucleo/img/Banner_Parceiros_Generico.png' %}" alt="welcome-banner">
    </div>
    <div class="marca">
        <div class="marca-info">
            <div class="titulo"><img src="{% static 'Nucleo/img/logoLsAntenas.png' %}" alt=""></div>
            <div class="sub-titulo"><span class="sub-titulo">Vai até onde a competição não pode</span></div>
        </div>
        <div class="marca-div-img">
            <img class="antena-img" src="{% static 'Nucleo/img/banner-cortado.png' %}" alt="">
        </div>
    </div>
    <div class="container">
        <div class="info">
            <span>
                As antenas de internet via satélite permitem acesso à internet em locais onde
                outras tecnologias não chegam, conectando usuários a satélites que se comunicam
                com a rede global.
            </span>
        </div>
        <div class="pesquisar">
            <div class="pesquisar-cidade">
                <input type="text" class="pesquisar-cidade-input" placeholder="Pesquisar sua cidade...">
                <img src="{% static 'Nucleo/img/pesquisar.png' %}"
                alt="Pesquisar" class="pesquisar-img" onclick="pesquisar">
                <datalist>
                    <option value="Picuí">
                    <option value="Picuí">
                    <option value="Picuí">
                    <option value="Picuí">
                </datalist>
            </div>
        </div>
    </div>
    <div class="container">

            <div class="planos">
                <div class="plano">
                    <div class="header-plano"><span>Flex 30</span></div>
                    <div class="preco">
                        <span>R$ 189,00*/mês</span>
                    </div>
                    <div class="info-pqn">

                    </div>
                    <div class="plano-info">

                    </div>
                    <div class="info-pqn">
                        
                    </div>
                </div>
                <div class="plano">

                </div>
                <div class="plano">

                </div>
            </div>
    </div>
</body>
</html>