body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--text);
    background: linear-gradient(90deg, var(--body), var(--body2));
    
}
a {
    text-decoration: none;
}
footer{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prim2);
}
:root{
    --body: #E4EFFB;
    --body2: #B1B8BF;
    --prim: #075FA6;
    --prim2: #035496;
    --sec: #8191FE;
    --accent:#4C49FD;
    --text: #051929;
    --verm: #FF2A2A;
    --sutil: #808080;
    --sutil2: #676a6d;
    --verde: #4ee55e;
}
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .header{
        width: 90vw;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo{
        height: 70px;
        width: 140px;
        
    }
    .header-img {
        height: 40px;
       
    }
    .header-phone{
        display: flex;
        height: 60px;
        flex-direction: row;
        align-items: center;
        width: clamp(0, 100px, 160px);
        margin: 1rem 0 0 0;
        padding: 0.2rem;
        color: var(--body);
        border: 2px var(--body2) solid;
    }
    .header-phone div{
        display: flex;
        flex-direction: column;
    }
    .welcome-banner{
        height: clamp(500px , 70vh , 100%);
        width: 100%;
    }
    .marca{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 500px;
        justify-content: center;
    }

    .marca-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30vw;
        padding: 100px;   
    }
    .marca-div-img{
        width: 70vw;
    }
    .marca-div-img img{
        width: 100%;
        height: 100%;
    }

    .titulo img{
        height: clamp(100px, 200px, 300px);
    
    }
    .sub-titulo{
        font-family: "Goldman", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
    }
    .desc{
        font-family: "Goldman", sans-serif;
        font-weight: 700;
        font-style: normal;
        height: 200px;
    }
    .info{
        display: flex;
        align-items: center;
        height: 150px;
        width: 60vw;
        font-family: "Goldman", sans-serif;
        font-weight: 400;
        font-size: 13px;
        font-style: normal;
    }
    .pesquisar{
        height: 80px;
        width: 90vw;
        display: flex;
        justify-content: center;
    }
    .pesquisar-cidade{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        height: 80%;
        width: 90%;
        background-color: var(--accent);
        border-radius: 20px;
    }
    .pesquisar-cidade-input{
        background-color: var(--body);
        height: 70%;
        width: 90%;
        border-radius: 10px;
        outline: none;
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: bolder;
 
    }
    .pesquisar-img{
        height: 80%;

    }
    .pesquisar-img img{
        height: 80%;
        
    }
    .pesquisar-img:hover{
        cursor: pointer;
        
    }
    .plano{
        display: flex;
        height: 450px;
        flex-direction: column;
        width: 280px;
        background-color: white;
        border-radius: 30px;
    }
    .planos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
    .header-plano{
        height: 80px;
        border-radius: 30px;
        background-color: var(--prim);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-plano span{
        font-family: "Kanit", sans-serif;
        color: var(--body);
        font-size: 40px;
        font-weight: bolder;
    }
    .preco{
        display: flex;
        justify-content: center;
        align-items: end;
        height: 90px;

    }
    .preco span{
        font-family: "Kanit", sans-serif;
        font-size: 37px;
        color: var(--prim);
        font-weight: bolder;
    }
    .preco span::before{
        content: "R$";
        font-family: "Kanit", sans-serif;
        font-size: 15px;
        padding: 0 2px;
        color: var(--prim);
        font-weight: bolder;
    }
    .preco span::after{
        content: "/mês";
        font-family: "Kanit", sans-serif;
        font-size: 15px;
        padding: 0 2px;
        text-align: start;
        color: var(--sutil);
    }
    .detalhes{
        font-family: "Kanit", sans-serif;
        color: var(--sutil);
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 1rem;
        font-size: 12px;
    }
    .plano-info{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .plano-info div{
        display: flex;
        justify-content: space-between;
        margin: 0 10px 0 10px;    
    }
    .plano-tipo{
        font-family: "Kanit", sans-serif;
        color: var(--prim);
        font-size: 15px;
    }
    .plano-giga{
        font-family: "Kanit", sans-serif;
        color: var(--accent);
        font-size: 16px;
        font-weight: bolder;
    }


    .barra{
        height: 2px;
        background-color: var(--prim);
        width: 90%;
    }
    .antena-img{
        height: 700px;
    }
    .botao{
        display: flex;
        justify-content: center;
        align-items: center
    }
    .botao button{
        height: 45px;
        color: white;
        font-family: "Kanit", sans-serif;
        font-weight: bolder;
        font-size: 20px;
        background-color: var(--verm);
        width: 80%;
        outline: none;
        border-radius: 10px;
    }
    .vantagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 190px;
    }
    .vantagens-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        gap: 1.6rem;
        padding: 20px 0 40px 0;
    }
    .vantagem-img{
        display: flex;
        justify-content: center;

    }
    .vantagem-img img{
        display: flex;
        height: 90px;
        width: 100px;
        justify-content: center;
        align-items: center;
    }
    .vantagens{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        
    }

    .vantagens-titulo{
        width: clamp(200px, 60vw, 600px);
    }
    .vantagens-titulo span{
        font-family: "Kanit", sans-serif;

        font-weight: bolder;
        font-size: 32px;
        font-weight: bolder;
        color: var(--prim);   
    }
    .vantagem-titulo{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: "Kanit", sans-serif;
        font-weight: bolder;
        font-size: 32px;
        font-weight: bold;
        color: var(--prim);  
    }
    .vantagem-detalhes{
        font-family: "Kanit", sans-serif;
        color: var(--sutil2);
        display: flex;
        justify-items: center;
        align-items: center;
        font-size: 20px;
        text-align: center;
    }
    .footer{
        width: 90%;
        align-items: center;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-logo{
        height: 100px;
        width: 200px;
    }
    .footer-div{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .logo_G{
        height: 100px
    }
    .footer-whatsapp {
        position: fixed;
        bottom: 10px;  
        right: 0px;   
        height: 200px;  
        z-index: 1000;  
    }
    .footer-redes{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer-instagram{
        height: 90px;
    }
    .footer-facebook{
        height: 90px;
    }










    .contrato {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        
        justify-content: center;
        align-items: center;

    }

    .contrato-conteudo {
        background-color: var(--body);
        margin: auto;
        padding: 10px;
        width: 285px;
        height: 400px;
        border-radius: 8px;
        text-align: center;
    }
    .contrato-area{
        font-family: "Kanit", sans-serif;
        color: var(--sutil);
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 1rem;
        font-size: 10px;
        text-align: left;
    }
    .contrato-fechar {
        float: right;
        font-size: 20px;
        cursor: pointer;
    }
    .contrato-header{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--prim);
        height: 30px;
        width: 100%;
        font-family: "Kanit", sans-serif;
        color: var(--body);
        border-radius: 20px;
        font-size: 20px;
        font-weight: bolder;
    }
    .contrato-info{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contrato-info-detalhes{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: "Kanit", sans-serif;
        color: var(--sutil);
        font-size: 8px;
    }
    .contrato-info-detalhes span, .contrato-info-detalhes2 span, .contrato-info-detalhes3 span {
        width: 60px;
        text-align: center;

    }
    .contrato-info-detalhes2{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: "Kanit", sans-serif;
        color: var(--prim);
        font-size: 17px;
    }
    .contrato-info-detalhes3{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: "Kanit", sans-serif;
        color: var(--prim);
        font-weight: bold;
        font-size: 20px;
    }
    .contrato-botao{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contrato-botao-button button{
        margin: 1rem;
        width: 200px;
        background-color: var(--verde);
        height: 50px;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
    }
    .contrato-preco{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 35px;        
    }
    .contrato-preco-valor{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--prim);
        font-size: 20px;
        font-weight: bold;
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        color: var(--body);
        border-radius: 35px;
        font-weight: bolder;
        margin: 30px;
    }


    .pesquisado-conteudo{
        background-color: var(--body);
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 10px;
        width: 200px;
        height: 200px;
        border-radius: 8px;
        text-align: center;        
    }







    /* cores */
    .gradiente-prim{
        background:linear-gradient(to left, var(--prim), var(--prim2));
    }

    /* media-queryes*/
    @media (max-width: 360px) {
        .header-phone {
            display: none;
        }
    }
    @media (max-width: 800px) {
        .marca-div-img{
            display: none;
        }
        .vantagens{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            
        }
        

    }


    /* fontes */
@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Adlam%20Unjoined:700|Noto%20Sans%20Adlam%20Unjoined:400');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Michroma&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
    .header-numero{
        /* font-family: 'Noto Sans Adlam Unjoined'; */
        /* font-family: "Bebas Neue", sans-serif; */
        font-family: "Kanit", sans-serif;
        font-weight: bolder;
        font-size: 22px;
        text-decoration: none;
        color: var(--body);

    }


    .goldman-regular {
        font-family: "Goldman", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .goldman-bold {
        font-family: "Goldman", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .dm-serif-text-regular {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
    }

        .dm-serif-text-regular-italic {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: italic;
    }
    
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;

    }
    .funnel-display{
        font-family: "Funnel Display", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        font-style: normal;
    }





@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Adlam%20Unjoined:700|Noto%20Sans%20Adlam%20Unjoined:400');

    body {
    font-family: 'Noto Sans Adlam Unjoined';
    font-weight: 400;
    }

    h1, h2, h3, h4, h5 {
    font-family: 'Noto Sans Adlam Unjoined';
    font-weight: 700;
    }

    html {font-size: 100%;} /* 16px */

    h1 {font-size: 4.210rem; /* 67.36px */}

    h2 {font-size: 3.158rem; /* 50.56px */}

    h3 {font-size: 2.369rem; /* 37.92px */}

    h4 {font-size: 1.777rem; /* 28.48px */}

    h5 {font-size: 1.333rem; /* 21.28px */}

    small {font-size: 0.750rem; /* 12px */}